<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="vTBuNew52WeekHighs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuStrongVolumeGainers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuBullish50200DayMACrossovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuBullishMACDCrossovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuOversoldWithAnImprovingRSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuMovedAboveUpperBollingerBand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuMovedAboveUpperPriceChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuMovedAboveUpperKeltnerChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuImprovingChaikinMoneyFlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuNewCCIBuySignals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuParabolicSARBuySignals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuStocksInANewUptrendAroon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuStocksInANewUptrendADX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuGapUps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuBreakawayGapUps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuRunawayGapUps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBuIslandBottoms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeNew52WeekLows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeStrongVolumeDecliners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeBearish50200DayMACrossovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeBearishMACDCrossovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeOverboughtWithADecliningRSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeMovedBelowLowerBollingerBand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeMovedBelowLowerPriceChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeMovedBelowLowerKeltnerChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeDecliningChaikinMoneyFlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeNewCCISellSignals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeParabolicSARSellSignals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeStocksInANewDowntrendAroon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeStocksInANewDowntrendADX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeGapDowns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeBreakawayGapDowns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeRunawayGapDowns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vTBeIslandTops" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPBullishEngulfing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPPiercingLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPMorningStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPBullishHarami" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPThreeWhiteSoldiers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPBearishEngulfing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPDarkCloudCover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPEveningStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPBearishHarami" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPThreeBlackCrows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPRisingThreeMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPFallingThreeMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPDragonflyDoji" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPGravestoneDoji" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPHammer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPShootingStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPFilledBlackCandles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPHollowRedCandles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPElderBarTurnedRed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPElderBarTurnedBlue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPElderBarTurnedGreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPEnteredIchimokuCloud" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPMovedAboveIchimokuCloud" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPMovedBelowIchimokuCloud" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPIchimokuCloudTurnedGreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vCsPIchimokuCloudTurnedRed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFTripleTopBreakout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFSpreadTripleTopBreakout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFAscendingTripleTopBreakout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFQuadrupleTopBreakout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFBearishSignalReversal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFBearTrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFBullishCatapult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFBullishTriangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBuPFLowPole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFTripleBottomBreakdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFSpreadTripleBottomBreakdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFDescendingTripleBottomBreakdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFQuadrupleBottomBreakdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFBullishSignalReversal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFBullTrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFBearishCatapult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFBearishTriangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFHighPole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vPFBePFLongTailDown" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
